{% extends "_base.twig" %}

{% block content %}
    {% if not isAJAX %}<section id="page-contact" class="page page-contact is-hidden">{% endif %}
        {% include 'components/letter-o.twig' %}
        <div class="page--content page--content--center ui-content">
            <div class="vertical-center">
                <div class="vertical-el">
                    <div class="device-content">
                        <h1 class="ui-split" data-split="lines, chars">{{ page.tagline }}</h1>
                        {% set section = page.get_field('section') %}
                        {% for line in section|batch(2, '') %}
                            <div class="row">
                            {% for column in line %}
                                <div class="column col-6 ui-stagger">
                                    <span>{{ column.title }} :</span>
                                    {% for person in column.person %}
                                        <span>{{ person.name }} - <a href="mailto:jerad@whitelistcontent.com" target="_blank">{{ person.email }}</a> - {{ person.phone }}</span>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'components/socials.twig' %}
    {% if not isAJAX %}</section>{% endif %}
{% endblock %}