{% extends "_base.twig" %}

{% block content %}
    {% if not isAJAX %}<section id="page-work-single" class="page page-work-single is-hidden">{% endif %}
    <div class="work-single">
        <div class="work-video ui-video">
            {% set mobile = isMobile or isTablet == 1 %}
            {% set vimeo = mobile ? '//player.vimeo.com/video/' ~ work.video_id : '//player.vimeo.com/video/' ~ work.video_id ~ '?autoplay=1&amp;loop=true&controls=0' %}
            {% set youtube = mobile ? 'http://www.youtube.com/embed/' ~ work.video_id : 'http://www.youtube.com/embed/' ~ work.video_id ~ '?loop=1&autoplay=1&controls=0' %}
            {% set src = work.video_source == 'vimeo' ? vimeo : youtube %}
            <iframe class="ui-frame" src="{{ src }}" frameborder="0"/></iframe>
        </div>
        <div class="work-title ui-title">
            <div class="vertical-center">
                <div class="vertical-el">
                    <h1 class="ui-split" data-split="lines, words">{{ work.title }}</h1>
                </div>
            </div>
        </div>
        <div class="work-infos ui-layer">
            <div class="content device-content ui-scroll">
                <span class="client">{{ work.client }}</span>
                <h1>{{ work.title }}</h1>
                {{ work.credits }}
            </div>
        </div>
        <nav class="info-nav ui-worknav">
            <span class="ui-infos link">informations</span>
            <a href="/works" class="is-close link">close</a>
        </nav>
        <nav class="info-nav bottom ui-worknav">
            <a href="{{ work.prev ? '/work/' ~ work.prev.slug : '/' }}"{% if not work.prev %} style="opacity:.2;pointer-events:none;"{% endif %} class="link">prev</a>
            /
            <a href="{{ work.next ? '/work/' ~ work.next.slug : '/' }}"{% if not work.next %} style="opacity:.2;pointer-events:none;"{% endif %} class="link">next</a>
        </nav>
        <div class="close-text ui-close">close</div>
    </div>
    {% if not isAJAX %}</section>{% endif %}
{% endblock %}