{% extends "_base.twig" %}

{% block content %}
    {% if not isAJAX %}<section id="page-works" class="page page-works is-hidden">{% endif %}
    {% include 'components/letter-o.twig' %}
    <span class="all-projects ui-bind">
        <span class="link">all projects</span>
        <span class="link">close</span>
    </span>
    <div class="work-content ui-layer">
        <div class="work-list ui-list">
            <div class="work-scroll ui-section">
                {% for item in work %}
                    <a href="/work/{{ item.slug }}" class="work-item ui-stagger">
                        <span>{{ item.title }}</span>
                        <div class="intrinsic ui-viewport">
                            {% set image = TimberImage(item.get_field('thumbnail')).src %}
                            <div class="el" style="background-image: url('{{ image ? image : site.theme.uri~'/assets/images/stack/project-1.jpg' }}');"></div>
                        </div>
                        <span class="ui-split" data-split="chars">› View project</span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="work-all ui-all">
        {% include 'components/letter-o.twig' %}
        <div class="section ui-scroll">
            <div class="device-content">
                <div class="row">
                    <div class="column col-6">&nbsp;</div>
                    <div class="column col-6">
                        <ul>
                            {% for item in work %}
                                {% set image = TimberImage(item.get_field('thumbnail')).src %}
                                {% set new = loop.index < 4 %}
                                <li>{% if new %}<small>New</small>{% endif %}<a href="/work/{{ item.slug }}" data-image="{{ image ? image : site.theme.uri~'/assets/images/stack/project-1.jpg' }}" class="_">{{ item.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if not isAJAX %}</section>{% endif %}
{% endblock %}